<% content_for :title do %>Contact<% end %>

<div class="authform">

  <%= simple_form_for @contact do |form| %>
  <h3>Send us a message</h3>
    <%= form.error_notification %>
    <%= form.input :name, autofocus: true %>
    <%= form.input :email %>
    <%= form.input :content, as: :text %>
    <%= form.button :submit, 'Submit', class: 'submit' %>
  <% end %>
</div>